[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ergmharris"]
	path = ergmharris
	url = https://github.com/cran/ergmharris
[submodule "odds.n.ends"]
	path = odds.n.ends
	url = https://github.com/jenineharris/odds.n.ends
